extends layout/base
block content
    h1.text-center Dashboard

    .content-wrapper
        .container-fluid
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='#') Dashboard
                li.breadcrumb-item.active Tables
            .card.mb-3
                .card-header
                    i.fas.fa-table &nbsp
                    | Clients
                .card-body
                    .table-responsive
                        table#dataTable.table.table-bordered(width='100%', cellspacing='0')
                            thead
                                tr
                                    th ID
                                    th Company Name
                                    th Address
                                    th Phone Number
                                    th Attention
                            tfoot
                                tr
                                    th ID
                                    th Company Name
                                    th Address
                                    th Phone Number
                                    th Attention
                            tbody
                                for client in clients
                                    tr
                                        td #{client.id}
                                        td #{client.name}
                                        td #{client.address.readable}
                                        td #{client.phoneNumber.readable}
                                        td #{client.attention.name.fullName}

                .card-footer.small.text-muted Updated yesterday at 11:59 PM
    script.
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });